---
import inter from '@fontsource/inter/files/inter-latin-400-normal.woff2'
import firacode from '@fontsource/fira-code/files/fira-code-latin-400-normal.woff2'
import '@fontsource/inter'
import '@fontsource/fira-code'
import 'katex/dist/katex.min.css'

export interface BaseHeadProps {
  title: string
  description: string
}

const { title, description } = Astro.props as BaseHeadProps
---

<meta charset='utf-8' />
<meta name='viewport' content='width=device-width, initial-scale=1.0, viewport-fit=cover' />
<meta name='generator' content={Astro.generator} />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />

<title>{title}</title>
<meta name='title' content={title} />
<meta name='description' content={description} />

<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />

<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
  })()

  document.documentElement.setAttribute('style', `color-scheme: ${theme};`)
  document.documentElement.setAttribute('data-theme', theme)
  window.localStorage.setItem('theme', theme)
</script>

<link rel='preload' as='font' href={inter} type='font/woff2' />
<link rel='preload' as='font' href={firacode} type='font/woff2' />
