---
import BaseLayout from './BaseLayout.astro'
import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
  title: string
  description: string
  date: string
  author: string
  minutesRead: string
}>

const { frontmatter } = Astro.props
---

<BaseLayout title={`${frontmatter.title} – NekoChan`} description={frontmatter.description}>
  <h1 class='mb-6 text-3xl font-bold tracking-tight md:text-5xl'>{frontmatter.title}</h1>
  <div class='flex flex-col items-start justify-between w-full mb-4 md:flex-row md:items-center'>
    <div class='flex items-center'>
      <p class='text-sm text-gray-700 dark:text-gray-300'>
        <span>{frontmatter.author} /</span>
        <time datetime={new Date(frontmatter.date).toISOString()}>
          {new Date(frontmatter.date).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}
        </time>
      </p>
    </div>
    <p class='text-sm text-gray-600 dark:text-gray-400 min-w-32 md:mt-0'>{frontmatter.minutesRead}</p>
  </div>
  <article
    class='prose lg:prose-xl prose-hr:transition-colors prose-hr:duration-300 mx-auto dark:prose-invert max-w-none w-full'
  >
    <slot />
  </article>
</BaseLayout>
